body{
    
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    background-color: #000000;
    padding: 0;
    
}



h1{
    font-family:serif;
    text-align: center;
    color: white;
    font-size: 50px;
}

form{
    max-width: 600px;
    margin: auto;

    background-color: hsl(0, 0%, 29%);
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 0 100px 30px rgba(255, 255, 255, 0.136);
}

fieldset{
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px ;
    margin-bottom: 20px;
   
}

legend{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: left;
}

label{
    color: rgb(19, 19, 19);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input,textarea{
    width: calc(100% - 1px);
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 15px;

}





/* Neon Button Styling */
button {
    align-content: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background: linear-gradient(45deg, #000000, #000000);
    background-size: 400% 400%;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #242424, 0 0 20px #000000, 0 0 30px #ffffff;
    transition: all 0.2s ease;
}

/* Neon Glow Effect on Hover */
button:hover {
    background-position: 100% 0;
    box-shadow: 0 0 15px #f2f2f2, 0 0 25px #7e7e7e, 0 0 35px #00ffcc, 0 0 45px #ff00cc;
    transform: scale(1.05);
}

/* Optional: Pulsing effect on hover for more glow */
button:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgb(120, 118, 118);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: pulse 1s ease-in-out infinite;
}

#resumeOutput{
    max-width: 600px;
    margin: auto;

    background-color: hsl(0, 0%, 24%);
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 0 100px 30px rgba(255, 255, 255, 0.136);
}

#resumeOutput h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}



.profilePicture{
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: black;
    border-radius: 500%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
